{% extends "base_email.html" %}

{% block content %}
<h2>{{event_description}}</h2>
    <p> 📢 Nous vous informons que le matériel suivant est
    disponible sur réservation : </p>

    <div class="details">
        <div>🛠️ <strong>Matériel :</strong>
        <span class="highlight">{{material_name}}</span></div>

        <div>📦 <strong>stock disponible :</strong>
        <span class="highlight">{{available_stock}}</span></div>
   </div>

    <a href={{site_url}} class="btn">🔗 Réserver maintenant</a>

    <p>Pour toute question ou si vous avez besoin de plus d'informations, n'hésitez
    pas à nous contacter.</p>

    <p>Cordialement,</p>
    <p><strong>{{organizer_first_name}} {{organizer_last_name}}</strong></p>
{% endblock %}
